body {
    background-color: rgb(247, 242, 233);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 12rem auto;

    header {
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        border-bottom: 5px solid black;
        h1 {
            align-self: center;
        }
    }
    main {
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20rem auto;

        .timePicker {
            grid-column: 2;
            max-width: 10rem;
            display: flex;
            flex-direction: column;/* 
            .startButton {

            } */
        }
        .allSteps {
            grid-column: 1;
            grid-row: 1;

            div {
                background-color: rgb(255, 255, 255);
                padding: 1em;
                margin-bottom: 1em;
                border-radius: 20px;

                .stepTime {
                    float: right;
                }
            }
        }
    }

}

